# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build / Generate output
dist/
build/
out/

# Cache
.npm
.eslintcache
.cache
.parcel-cache

# Coverage directory
coverage/

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Vercel
.vercel

# Netlify
.netlify
.netlify/

# Project specific
.cursorrules
docs/ 

# cursor
.cursorrules
.cursor/*
serviceAccountKey.json